/* * {
  margin: 0;
  padding: 0;
} */
oi, ol {
  margin: 0;
  /* padding: 0; */
  padding: 0 0 0 16px;
}

body {
  width: 600px;
  font-family: sans-serif;
  font-size: 12px;
  ;
}

.title {
  font-size: 14px;
}

header, footer, nav, main, section, article, aside {
  display: block;
}

header {
  width: 600px;
  display: flex;
  gap: 16px;
}

/** 料理名 */
header .dish_name {
  width: 254px;
  font-weight: bold;
  font-size: large;
  /* vertical-align: middle;
  text-align: center; */

  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

header .dish_name:before,
header .dish_name:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}

header .dish_name:before {
  left: 7px;
}

header .dish_name:after {
  right: 7px;
}


header .genre {
  width: 68px;
  padding: 4px;
  border: solid 1px #000;
  border-radius: 4px;
}

/* header .genre div {
  text-align: center;
} */

header .main_ingredients {
  width: 216px;
  padding: 4px;
  border: solid 1px #000;
  border-radius: 4px;
}

header .whos {
  position: relative;
  padding: 0.6em;
  background: #e0edff;
}

header .whos:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
}


/** 材料 */
main .ingredients .title {
  position: relative;
  border-top: solid 2px #80c8d1;
  border-bottom: solid 2px #80c8d1;
  background: #f4f4f4;
  line-height: 1.4;
  padding: 0.4em 0.5em;
  margin: 2em 0 0.5em;
}


main .ingredients .list {
  display: flex;
  gap: 8px;
}

main .ingredients .list .ingredients_col {
  padding-right: 16px;
  /* border-right: dashed 1px #000; */
}

main .ingredients .list .ingredients_col_unit {
  padding-right: 16px;
  border-right: dashed 1px #000;
}

/** 作り方 */
main .procedure .title {
  position: relative;
  border-top: solid 2px #80c8d1;
  border-bottom: solid 2px #80c8d1;
  background: #f4f4f4;
  line-height: 1.4;
  padding: 0.4em 0.5em;
  margin: 2em 0 0.5em;
}

main .procedure .list {
  margin-left: 16px;
}

main .procedure .list ol {
  padding-left: 8px;
}


/** コツ・メモ */
main .tips_memo .title {
  position: relative;
  border-top: solid 2px #80c8d1;
  border-bottom: solid 2px #80c8d1;
  background: #f4f4f4;
  line-height: 1.4;
  padding: 0.4em 0.5em;
  margin: 2em 0 0.5em;
}

main .tips_memo .list {
  margin-left: 16px;
}

main .tips_memo .list ul {
  padding-left: 8px;

}