* {
  margin: 0;
  padding: 0;
}

body {
  width: 600px;
}

div {
  border: 0.1px dotted #aa0000;
}

header, footer, nav, main, section, article, aside {
  display: block;
}

header {
  /* display: block; */
  display: flex;
  gap: 24px;

  width: 600px;
  height: 60px;
  background: #c0c0c0;
}

header .main_ingredients {
  width: 60px;
}

main {
  /* display: flex; */
  /* float: left; */
  /* width: 450px; */
  /* height: 250px; */
  /* background: #f5f5dc; */
}

main .ingredients {
  /* display: flex; */
}

main .ingredients .list {
  display: flex;
  gap: 64px;

  /* aside {
  float: left;
  width: 150px;
  height: 250px;
  background: #ebebbd;
*/
}

main .ingredients .ingredients {
  /* aside {
  float: left;
  width: 150px;
  height: 250px;
  background: #ebebbd;
*/
}

main .procedure .list {
  margin-left: 24px;
}

main .tipsMemo .list {
  margin-left: 24px;

}

/* footer {
  clear: both;
  width: 600px;
  height: 60px;
  background: #c0c0c0;
} */