<html>
<head>
  <title>レシピ一覧</title>
  <script src="/js/lib/jquery-3.6.1.js"></script>
  <script src="/js/recipe/recipe-list.js"></script>
</head>
<body id="recipe_list">
  <div>
    <span>aaaaaa01</span>
    <span>aaaaaa02</span>
    <span id="test">aaaaaa03</span>
  </div>
</body>
</html>