<html lang="ja">
<head>
  <title>レシピ詳細</title>

  <link href="../../static/css/recipe-detail.css" rel="stylesheet">

  <script src="../../static/js/lib/jquery-3.6.1.js"></script>
  <script src="../../static/js/recipe/recipe-detail.js"></script>
</head>
<body id="recipe_detail">
  <header>
    <div class="dish_name">
      <span>料理名（15～20文字）１２３４５６７８９０</span>
    </div>
    <div class="genre">
      ジャンル
    </div>
    <div class="main_ingredients">
      <ol>
        <li>食材1</li>
        <li>食材2</li>
        <li>食材3</li>
      </ol>
    </div>
    <div class="whos">
      誰のレシピか？
    </div>
  </header>
  
  <main>
    <div class="ingredients">
      <div class="title">
        材料（０人分）
      </div>
      <div class="list">
        <div class="ingredients_col">
          <div>・材料１　１こ</div>
          <div>・材料２　２こ</div>
          <div>・材料３</div>
          <div>・材料４</div>
          <div>・材料５</div>
        </div>
        <div class="ingredients_col">
          <div>・材料１　１こ</div>
          <div>・材料２　２こ</div>
          <div>・材料３</div>
          <div>・材料４</div>
          <div>・材料５</div>
        </div>
        <div class="ingredients_col">
          <div>・材料１　１こ</div>
          <div>・材料２　２こ</div>
          <div>・材料３</div>
          <div>・材料４</div>
          <div>・材料５</div>
        </div>
      </div>
    </div>

    <div class="procedure">
      <div class="title">
        作り方
      </div>
      <div class="list">
        <ol>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
        </ol>
      </div>
    </div>

    <div class="tips_memo">
      <div class="title">
        コツ・メモ
      </div>
      <div class="list">
        <ul>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
          <li>xxxxx</li>
        </ul>
      </div>

    </div>

  </main>
</body>
</html>
