<html>
<head>
  <title>レシピ一覧</title>
  <script src="/js/lib/jquery-3.6.1.js"></script>
  <script src="/js/recipe/recipe-list.js"></script>
</head>
<body id="recipe_list">
  <div class="recipe_list">
    <ul>
      <li><a href="./">xxxxx</a></li>
      <li><a href="./">xxxxx</a></li>
    </ul>
  </div>
</body>
</html>