<html lang="ja">
<head>
  <title>レシピ詳細</title>

  <link href="../../static/css/recipe-detail.css" rel="stylesheet">

  <script src="../../static/js/lib/jquery-3.6.1.js"></script>
  <script src="../../static/js/recipe/recipe-detail.js"></script>
</head>
<body id="recipe_detail">
  <header>
    <div class="title">
      料理名（15～20文字）１２３４５６７８９０
    </div>
    <div class="genre">
      ジャンル
    </div>
    <div class="main_ingredients">
      <ol>
        <li>食材1</li>
        <li>食材2</li>
        <li>食材3</li>
      </ol>
    </div>
  </header>
  <nav>nav</nav>
  <main>main</main>
  <aside>aside</aside>
  <footer>footer</footer>
</body>
</html>